In [1]:
# Dependencies and Setup
import pandas as pd

In [3]:
# Read in csv file and display data
citibike11 = pd.read_csv("202311-citibike-tripdata.csv")
citibike11.head()

C:\Users\racra\AppData\Local\Temp\ipykernel_13684\1679448798.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike11 = pd.read_csv("202311-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [4]:
# Read in csv file and display data
citibike12 = pd.read_csv("202312-citibike-tripdata.csv")
citibike12.head()

C:\Users\racra\AppData\Local\Temp\ipykernel_13684\2310690120.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike12 = pd.read_csv("202312-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB18F431791D6F97,classic_bike,2023-12-07 12:40:22,2023-12-07 12:47:09,Allen St & Stanton St,5484.09,Carmine St & 6 Ave,5763.03,40.721818,-73.989172,40.730386,-74.002150,member
1,73DF56B794079C50,classic_bike,2023-12-29 13:47:27,2023-12-29 13:54:02,Carlton Ave & Dean St,4199.12,Union St & 4 Ave,4175.15,40.680974,-73.971010,40.677274,-73.982820,member
2,E3BA5AF851CC1CF0,classic_bike,2023-12-14 19:57:46,2023-12-14 20:15:12,W 84 St & Amsterdam Ave,7409.04,W 48 St & Rockefeller Plaza,6626.11,40.786249,-73.975446,40.757769,-73.979294,member
3,8F2CBCCB503B0398,electric_bike,2023-12-20 16:55:15,2023-12-20 17:04:03,E 85 St & York Ave,7146.04,Central Park West & W 85 St,7354.01,40.775369,-73.948034,40.784760,-73.969862,member
4,A28FFC9585DE8CC5,classic_bike,2023-12-30 14:43:15,2023-12-30 14:56:33,W 84 St & Amsterdam Ave,7409.04,E 58 St & 3 Ave,6762.02,40.786238,-73.975478,40.760958,-73.967245,member

In [5]:
#merge Datasets
citibike = citibike11.merge(citibike12, how="outer")
citibike

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5161397,796BC679FFED8FB8,classic_bike,2023-12-14 10:01:36,2023-12-14 10:02:31,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161398,A8FFE1251749A510,classic_bike,2023-12-14 10:13:42,2023-12-14 10:14:27,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161399,AC14339B505A0000,classic_bike,2023-12-14 10:09:56,2023-12-14 10:10:44,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161400,FC3702FD4319EC93,classic_bike,2023-12-14 10:03:47,2023-12-14 10:04:36,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161401,930E4226552E06D8,classic_bike,2023-12-17 13:15:50,2023-12-17 13:16:46,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member

In [6]:
citibike_clean = citibike.dropna(how="any")
citibike_clean

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5161397,796BC679FFED8FB8,classic_bike,2023-12-14 10:01:36,2023-12-14 10:02:31,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161398,A8FFE1251749A510,classic_bike,2023-12-14 10:13:42,2023-12-14 10:14:27,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161399,AC14339B505A0000,classic_bike,2023-12-14 10:09:56,2023-12-14 10:10:44,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161400,FC3702FD4319EC93,classic_bike,2023-12-14 10:03:47,2023-12-14 10:04:36,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member
5161401,930E4226552E06D8,classic_bike,2023-12-17 13:15:50,2023-12-17 13:16:46,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.1,40.727791,-73.985649,40.728419,-73.987140,member

In [7]:
citibike_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5142319 entries, 0 to 5161401
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 549.3+ MB

In [11]:
citibike_clean.to_csv('citibike2023.csv', index=False)